@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color:lightskyblue;
    /* rgb - 0 - 255 */
}

header{
    width: 960px;
    background-color: rgb(255, 199, 203);
    height: auto;
    padding: 20px;
    border: 5px solid rgb(250, 126, 145);
    margin-top: -7px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

main{
    width: 960px;
    background-color: lightskyblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 5px dotted yellow;
    border-right: 5px dotted yellow;
    margin: 0px auto; 

}

footer{
    width: 960px;
    height: 50px;
    background-color: orange;
    padding: 20px;
    border-left: 5px dashed rgb(255, 0, 0);
    border-right: 5px dashed rgb(255,0,0);
    margin: 0px auto;
}

h1{
    font-family:"Roboto", sans-serif;
    text-align: center;
    font-weight: 100;
    font-style: italic;

}

h2{
    font-family: cursive;
    text-transform: capitalize;
}

ul{
    list-style: square;
}

ul li{
    color: rgb(245, 243, 241)
}

li{
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:hover{
    color: pink;
}

img{
    width: 300px;
    /* height: 100px; */
    /* use one or the one */
}

.imageGallery{
    width: 200px;
}

.lightgreen{
    color: lightgreen;
}

.plumBackground{
    background-color: rgba(221, 160, 221, 0.5);
}

.blue{
    color: lightskyblue;
}

nav{
    width: 400px;
    margin: 0px auto;
    border-bottom: black 1px solid;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    text-decoration: none;
}

nav ul li a{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: black; 
}

nav ul li a:hover{
    background-color: aliceblue;
}